body {
    text-align: center;
    font-family: sans-serif;
}

canvas {
    background-color: black;
    border: 4px solid white;
}

canvas:focus {
    border: 4px solid grey;
}

#how_to_play {
    width: 600px;
    height: 600px;
    margin: auto;
}

#how_to_play > h3, #how_to_play > ul {
    text-align: start;
}
